.home {
  background-color: rgb(202, 202, 202);
  .open-funding {
    margin: 60px 0;
    text-align: center;
    h1 {
      color: hsl(180, 100%, 25.1%);
      font-size: 50px;
    }
    hr {
      border: none;
      border-top: 5px solid hsl(180, 100%, 25.1%);
      margin: 20px 45%;
    }
  }
  .new-funding {
    background-color: white;
    text-align: center;
    padding: 45px 0;
    border-radius: 50px;
    h1 {
      color: hsl(180, 100%, 25.1%);
      font-size: 50px;
    }
    hr {
      border: none;
      border-top: 5px solid hsl(180, 100%, 25.1%);
      margin: 20px 45%;
    }
  }

  .press-release {
    text-align: center;
    padding: 45px 0;
    border-radius: 50px;
    h1 {
      color: hsl(180, 100%, 25.1%);
      font-size: 50px;
    }
    hr {
      border: none;
      border-top: 5px solid hsl(180, 100%, 25.1%);
      margin: 20px 45%;
    }
  }

  .features {
    background-color: white;
    text-align: center;
    padding: 45px 0;
    border-radius: 50px;
    h1 {
      color: hsl(180, 100%, 25.1%);
      font-size: 50px;
    }
    hr {
      border: none;
      border-top: 5px solid hsl(180, 100%, 25.1%);
      margin: 20px 45%;
    }
  }
}
