.nav {
  max-width: 1600px;
  margin: auto;
  .nav-main {
    display: flex;
    background-color: teal;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    .logo {
      display: flex;
      align-items: center;
      img {
        height: 40px;
        text-decoration: inherit;
        color: hsl(357, 87%, 50%);
        padding: 5px 25px;
        border-right: 1px solid rgb(255, 255, 255);
      }
      .nav-search {
        display: flex;
        align-items: center;
        margin-left: 25px;
        span:hover {
          cursor: pointer;
          color: hsl(69, 94%, 69%);
        }
      }
    }
    .explore {
      .nav-links {
        display: flex;
        align-items: center;
        gap: 30px;
        span:hover {
          cursor: pointer;
          color: hsl(69, 94%, 69%);
        }
      }
    }
  }
}
