.fund-card {
  background-color: white;
  border: 1px solid gray;
  height: 490px;
  border-radius: 10px;
  .card {
    padding: 10px;
    img {
      width: 100%;
      height: 170px;
      border-radius: 5px;
      object-fit: cover;
    }
    h2 {
      color: black;
      text-align: start;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }
    p {
      margin-top: 5px;
      color: gray;
      text-align: start;
      font-size: 14px;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
    }

    .fund-detail {
      background-color: rgb(237, 234, 234);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin-top: 15px;
      border-radius: 5px;

      .funding-goal {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        span {
          font-size: 16px;
          color: teal;
          font-family: Arial, Helvetica, sans-serif;
        }
        p {
          font-size: 12px;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
        }
      }

      .fund-raised {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        span {
          font-size: 16px;
          color: teal;
          font-family: Arial, Helvetica, sans-serif;
        }
        p {
          font-size: 12px;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
      .days {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        span {
          font-size: 16px;
          color: teal;
          font-family: Arial, Helvetica, sans-serif;
        }
        p {
          font-size: 12px;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }

    button {
      background-color: teal;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        background-color: rgb(6, 88, 88);
      }
    }
  }
}
